<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zly.collectapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:configChanges="orientation"
        android:icon="@mipmap/logo"
        android:label="美女资讯"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/NoTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">
        <activity android:name=".test.TestActivity" />
        <activity android:name=".CollectActivity" />

        <service android:name=".service.DownloadService" />
        <service
            android:name=".service.AutoUpdateService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ContentActivity" />
        <activity
            android:name=".RegisterActivity"
            android:label="注册页" />
        <activity
            android:name=".LoginActivity"
            android:label="登录页" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/NoTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>